body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
  font-weight: 900;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: $_1em;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 $_1em 0;
}

h1 {
  font-size: 40px;
  margin-bottom: $_2em;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  &:not(:first-child){
    margin-top: $_4em;
  }
}

h5 {
  color: $grey-base;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  font-size: 40px;
}

.text-center {
  text-align: center;
}