<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="hero">
      <nav class="grid justify-between no-response">
        <div class="cell">
          <a href="{{ site.baseurl }}/">
            <image src="{{ site.baseurl }}/images/logo-white.png" width="64" />
          </a>
        </div>
        <div class="cell-shrink">
          <div class="grid gutter-xs-md no-response">
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </div>
        </div>
      </nav>
      <div class="video">
        <div class="placeholder"></div>
        <image src="{{ site.baseurl }}/images/play-button.svg" class="play-button" />
        <div class="youtube"></div>
      </div>
      <a class="learn-more smooth-scroll" href="#main">Read more</a>
    </header>

    <section id="main" role="main">
      <div class="content">
        {{ content }}
      </div>
    </section>

    <footer>
      <div class="content">
        Once collective (C)
      </div>
    </footer>

    {% include analytics.html %}

   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="scripts.js"></script>
  </body>
</html>
