<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="hero">
      <nav class="grid justify-between no-response">
        <div class="cell-md-4 space-bottom-xs-md text-center-below-md">
          <a href="{{ site.baseurl }}/">
            <image src="{{ site.baseurl }}/images/logo-white.png" width="64" />
          </a>
        </div>
        <div class="cell-md-4 text-center">
          <div class="grid gutter-xs-lg no-response">
            <div class="cell">
              <a href="{{ site.baseurl }}/">Reel</a>
            </div>
            <div class="cell">
              <a href="{{ site.baseurl }}/blog">Blog</a>
            </div>
            <div class="cell">
              <a href="{{ site.baseurl }}/about">About</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="video">
        <div class="placeholder"></div>
        <image src="{{ site.baseurl }}/images/play-button.svg" class="play-button" />
        <div class="youtube"></div>
      </div>
      <a class="learn-more smooth-scroll" href="#main">Read more</a>
    </header>

    <section id="main" role="main">
      <div class="content">
        <div class="grid justify-between align-middle">
          <div class="cell-md-8">
            {{ content }}
          </div>
          <div class="cell-md-6 hidden-until-md text-center">
            <image src="{{ site.baseurl }}/images/logo.png" />
          </div>
        </div>
      </div>
    </section>

    <section class="slider flush-bottom">
      <div class="content text-center">
        <h5>Meet our members</h5>
      </div>
      <div class="shots space-top-xs-lg">
        {% for member in page.members %}
          <div class="mugshot">
            <div class="img-container">
              <image src="{{ site.baseurl}}/{{ member.mugshot }}"/>
            </div>
            <a href="{{ member.url }}" target="_blank">
              <h4>{{ member.name }}</h4>
              <p class="small">{{ member.title }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="row-black">
      <div class="content">
        <h2>Need help with a project?</h2>
        <p>Shoot us an email: <strong><a href="mailto(oncecollective@gmail.com)">oncecollective@gmail.com</a></strong></p>

        <h2 class="space-top-xs-xxl">Join the collective</h2>
        <p>We are always on the lookout for new members, register your interest below.</p>
        <!-- Begin Mailchimp Signup Form -->
        <form action="https://oncecollective.us18.list-manage.com/subscribe/post?u=e2c0cc317a66ea23951aa739c&amp;id=88abb015d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First name">
          </div>
          <div class="mc-field-group">
            <label for="mce-LASTNAME">Last Name </label>
            <input type="text" value="" name="LASTNAME" class="" id="mce-LASTNAME" placeholder="Last name">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e2c0cc317a66ea23951aa739c_88abb015d8" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="btn-white btn-full space-top-xs-lg"></div>
        </form>
      </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LASTNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </section>

    <footer class="row-black">
      <div class="content">
        ONCE COLLECTIVE ©2018
      </div>
    </footer>

    {% include analytics.html %}

   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="scripts.js"></script>
  </body>
</html>
